@import "{wolves:bourbon}/bourbon";

*,
*:before,
*:after {
	box-sizing: border-box;
}

.warp-table {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
}

.warp-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 100%;
	width: 100%;
	white-space: normal;

	&.left {
		text-align: left;
	}

	&.right {
		text-align: right;
	}
}

.main-layout {
	width: 100%;
	height: 100%;

	.header-layout {
		z-index: 200;
		position: fixed;
		width: 100%;

		.top-wrapper {
			width: 100%;
			background: black;
			padding: 0 140px;

			.header-top1 {
				width: 100%;
				height: 30px;

				.top1-desc {
					float: left;
					color: white;
					font-size: 15px;
					font-weight: bold;
					line-height: 30px;
					text-transform: uppercase;
				}

				ul.top1-icons {
					float: right;
					color: white;
					line-height: 30px;

					li {
						font-size: 15px;
						display: inline;
					}

					li + li {
						margin-left: 20px;
					}
				}
			}
		}

		.header-top2 {
			z-index: 100;
			display: table;
			position: fixed;
			width: 100%;
			height: 85px;
			padding: 0 140px;
			background-color: white;
			border-bottom: 1px solid silver;

			.top2-logo-wrap {
				display: table-cell;
				vertical-align: middle;

				.top2-logo {
					width: 220px;
					height: 45px;
					//background: silver;
				}
			}

			ul.top2-nav {
				float: right;
				color: black;
				text-transform: uppercase;
				line-height: 85px;

				li {
					padding: 30px 0 35px 0;
					font-size: 15px;
					display: inline;
					border-top: 4px solid silver;
				}

				li + li {
					margin-left: 40px;
				}
			}
		}
	}

	.main-partners {
		width: 100%;
		padding: 150px 140px;

		.partners-block {
			height: 350px;
			padding: 0;

			.partners-block-wrap {
				height: 100%;
				padding: 0 40px;

				.img-block {
					height: 100%;
					background: silver;
				}

				.desc-block {
					height: 100%;

					.desc-block-text {
						color: gray;
						margin-bottom: 20px;
						font-size: 15px;
					}

					h1 {
						color: black;
						text-transform: uppercase;
						margin-bottom: 20px;
					}

					.detail-row {
						width: 100%;

						.detail-button {
							float: left;
							height: 50px;
							padding: 10px;
							font-size: 20px;
							text-transform: uppercase;
							background-color: silver;
							color: white;
							@include border-top-radius(rem(6));
							@include border-bottom-radius(rem(6));
						}

						.pay-cards {
							float: right;
							height: 50px;
							width: 200px;
							background-color: silver;
						}
					}
				}
			}
		}
	}

	.truck-repair {
		width: 100%;
		padding: 60px 206px 50px 206px;
		border-top: 1px solid silver;

		h1 {
			width: 100%;
			font-size: 40px;
			font-weight: 700;
			color: #1abc9c;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 15px;
		}

		h2 {
			width: 100%;
			font-size: 20px;
			font-weight: bold;
			color: #2c3e50;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 15px;
		}

		.info-blocks {

		}
	}

	.truck-service {
		width: 100%;
		padding: 80px 221px 70px 221px;
		margin-bottom: 40px;
		border-bottom: 1px solid silver;
		border-top: 1px solid silver;

		.header-block {
			width: 100%;
			text-align: center;

			.title1 {
				width: 100%;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				color: #2c3e50;
				margin-bottom: 15px;
			}

			.title2 {
				width: 100%;
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				color: #2c3e50;
				margin-bottom: 15px;
				letter-spacing: 1px;
			}

			.koleso {
				height: 100%;
				width: 100%;
				margin-bottom: 40px;

				.koleso-pic {
					width: 276px;
					height: 36px;
					margin: 0 auto;
					background: url('images/divider1.png');
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100% 100%;
				}
			}

			ul.trucks-list {
				width: 100%;
				padding-bottom: 15px;
				margin-bottom: 45px;
				border-bottom: 4px double #6e767c;

				li {
					font-size: 14px;
					display: inline;
					padding: 0 8px;

					&:hover {
						color: #1abc9c;
						cursor: pointer;
					}
				}
			}
		}

		.service-box {
			z-index: 5;
			position: relative;
			height: 200px;
			padding: 0;
			overflow: hidden;
			background-size: cover;

			&:hover {
				cursor: pointer;
			}

			&:hover .service-background {
				bottom: 0;
				cursor: pointer;
			}

			.service-background {
				z-index: 1;
				position: absolute;
				left: 0;
				bottom: -100px;
				padding: 12px;
				width: 100%;
				text-align: center;
				background-color: #f3f3f3;
				@include transition(all 250ms);

				.triangle {
					position: absolute;
					top:-12px;
					left: 50%;
					margin-left: -12px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 12px 12px 12px;
					border-color: transparent transparent #f3f3f3 transparent;
				}

				.service-header {
					font-size: 15px;
					font-weight: bold;
					color: #2c3e50;
				}

				.header-desc {
					font-size: 12px;
					color: #a1b1bc;
				}
			}
		}
	}

	.main-contacts {
		width: 100%;
		padding: 20px 140px;

		.contacts-block {
			padding: 0;

			.contacts-block-wrap {
				width: 100%;
				padding: 0 40px;

				.contacts-description {
					width: 100%;

					h1 {
						color: black;
						margin-bottom: 20px;
					}

					p {
						color: gray;
						margin-bottom: 20px;
						font-size: 15px;
					}

					h2 {
						font-size: 25px;
						color: black;
						margin-bottom: 20px;
					}

					ul {
						li {
							font-size: 25px;
							display: inline;
							color: gray;
						}

						li + li {
							margin-left: 30px;
						}
					}
				}

				.contacts-form {
					width: 100%;

					.contacts-field {
						height: 50px;
						border: 1px solid silver;
						margin-bottom: 30px;
						@include border-top-radius(rem(6));
						@include border-bottom-radius(rem(6));
					}

					.message-field {
						height: 100px;
						border: 1px solid silver;
						margin-bottom: 30px;
						padding: 15px;
						@include border-top-radius(rem(6));
						@include border-bottom-radius(rem(6));
					}

					.message-button {
						width: 100%;
						height: 50px;
						padding: 10px;
						font-size: 20px;
						text-transform: uppercase;
						background-color: silver;
						color: white;
						@include border-top-radius(rem(6));
						@include border-bottom-radius(rem(6));
					}
				}
			}
		}
	}
}


